@use "./mixins" as mixins;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1remが何ピクセルかを定義します
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include mixins.respond(tab-land) {
    font-size: 56.25%;
  }

  @include mixins.respond(tab-port) {
    font-size: 50%;
  }

  @include mixins.respond(big-desktop) {
    font-size: 75%;
  }
}
