$blue-10: #c9d4e4;
$blue-20: #94abc9;
$blue-30: #5d83af;
$blue-40: #155e95;
$blue-50: #19466e;
$blue-60: #183049;
$blue-70: #121b27;

$skyblue-10: #dadeed;
$skyblue-20: #b5bddc;
$skyblue-30: #909ecb;
$skyblue-40: #6a80b9;
$skyblue-50: #505f87;
$skyblue-60: #363f59;
$skyblue-70: #1f222e;

$orange-10: #fef1e4;
$orange-20: #fde3c9;
$orange-30: #fad5ae;
$orange-40: #f6c794;
$orange-50: #b2916d;
$orange-60: #735f48;
$orange-70: #3a3027;

$yellow-10: #fffdec;
$yellow-20: #fffad9;
$yellow-30: #fff8c6;
$yellow-40: #fff6b3;
$yellow-50: #b9b283;
$yellow-60: #777356;
$yellow-70: #3c3a2d;

$gray-10: #ffffff;
$gray-20: #e5e5e5;
$gray-30: #cbcbcb;
$gray-40: #b2b2b2;
$gray-50: #999999;
$gray-60: #707070;
$gray-70: #4a4a4a;
$gray-80: #272727;
$gray-90: #000000;
